<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.DrawMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Draw">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PATHS" jdbcType="VARCHAR" property="paths" />
		<result column="CREATOR_ID" jdbcType="INTEGER" property="creatorId" />
	</resultMap>
</mapper>