<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.ElecCompMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.ElecComp">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="MODEL" jdbcType="VARCHAR" property="model" />
		<result column="MDL_PATH" jdbcType="VARCHAR" property="mdlPath" />
		<result column="ANIM_PATH" jdbcType="VARCHAR" property="animPath" />
		<result column="CFG_PATH" jdbcType="VARCHAR" property="cfgPath" />
	</resultMap>
</mapper>