<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.ExamLibraryRecordMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.ExamLibraryRecord">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="PID" jdbcType="INTEGER" property="publishId" />
		<result column="SCORE" jdbcType="FLOAT" property="score" />
		<result column="COST" jdbcType="INTEGER" property="cost" />
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
	</resultMap>
	<resultMap id="RecordInfoMap" type="com.cas.sim.tis.vo.LibraryRecordInfo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="SCORE" jdbcType="FLOAT" property="score" />
		<result column="COST" jdbcType="INTEGER" property="cost" />
	</resultMap>
	<select id="findRecordByPublishId" resultMap="RecordInfoMap">
		select 
			r.id,u.name,r.score,r.cost
		from 
			exam_library_record r,user u
		where 
			r.creator=u.id and r.pid=#{pid} and r.type=#{type}
		order by u.code asc
	</select>
	<select id="getRecordScoresSumByPublishId" resultType="java.lang.Float">
		SELECT 
		    IFNULL(SUM(r.score), 0)
		FROM
		    exam_library_record r
		WHERE
		    r.pid = #{pid} and r.type=#{type}
	</select>
</mapper>