<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.LibraryMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Library">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="NUM" jdbcType="INTEGER" property="num" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator" />
		<result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
		<result column="UPDATER" jdbcType="VARCHAR" property="updater" />
		<result column="UPDATE_DATE" jdbcType="VARCHAR" property="updateDate" />
		<result column="DEL" jdbcType="INTEGER" property="del" />
	</resultMap>
</mapper>