<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.PreparationMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Preparation">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="CID" jdbcType="INTEGER" property="catalogId" />
		<result column="CREATOR" jdbcType="VARCHAR" property="creator" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="UPDATER" jdbcType="VARCHAR" property="updater" />
		<result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="DEL" jdbcType="INTEGER" property="del" />
	</resultMap>
</mapper>