<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.QuestionMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Question">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="TITLE" jdbcType="VARCHAR" property="title" />
		<result column="OPTIONS" jdbcType="VARCHAR" property="options" />
		<!-- <result column="IMGS" jdbcType="VARCHAR" property="imgs" /> -->
		<result column="REFERENCE" jdbcType="VARCHAR" property="reference" />
		<result column="POINT" jdbcType="FLOAT" property="point" />
		<result column="ANALYSIS" jdbcType="VARCHAR" property="analysis" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="RID" jdbcType="INTEGER" property="relateId" />
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="UPDATER" jdbcType="INTEGER" property="updater" />
		<result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="DEL" jdbcType="INTEGER" property="del" />
	</resultMap>
	<select id="findQuestionsByLibraryPublish" resultMap="BaseResultMap">
		SELECT 
		    *
		FROM
		    (SELECT 
		        q.*
		    FROM
		        exam_publish p, question q
		    WHERE
		        p.lid = q.rid AND q.del = 0 AND p.id = #{pid}) a
		        LEFT JOIN
		    (SELECT 
		        COUNT(*) AS num, a.qid
		    FROM
		        exam_library_record r, exam_library_answer a
		    WHERE
		        r.id = a.LRID AND r.pid = #{pid}
		            AND a.CORRECTED IN (1 , 2)
		            and r.type=0
		    GROUP BY a.qid) b ON a.id = b.qid
		ORDER BY 
		<choose>
			<when test="mostWrong">
				b.num DESC
			</when>
			<otherwise>
				a.id asc
			</otherwise>
		</choose>
	</select>
	<select id="findQuestionsByPreparationPublish" resultMap="BaseResultMap">
		SELECT 
		    *
		FROM
		    (SELECT 
		        q.*
		    FROM
		        question q
		    WHERE
		        q.id in
		    	<foreach item="questionId" collection="questionIds" open="(" separator="," close=")">
				#{questionId}
				</foreach>
		    ) a
		        LEFT JOIN
		    (SELECT 
		        COUNT(*) AS num, a.qid
		    FROM
		        exam_library_record r, exam_library_answer a
		    WHERE
		        r.id = a.LRID AND r.pid = #{pid}
		            AND a.CORRECTED IN (1 , 2)
		            and r.type=1
		    GROUP BY a.qid) b ON a.id = b.qid
		ORDER BY 
		<choose>
			<when test="mostWrong">
				b.num DESC
			</when>
			<otherwise>
				a.id asc
			</otherwise>
		</choose>
	</select>
</mapper>