<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Resource">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="PATH" jdbcType="VARCHAR" property="path" />
		<result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
		<!-- <result column="COMMENT" jdbcType="VARCHAR" property="desc" /> -->
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
		<!-- <result column="PUBLIC" jdbcType="INTEGER" property="open" /> -->
		<result column="DEL" jdbcType="INTEGER" property="del" />
		<result column="BROWSED_TIMES" jdbcType="INTEGER" property="browsedTimes" />
		<result column="COLLECTED_TIMES" jdbcType="INTEGER" property="collectedTimes" />
	</resultMap>
	<resultMap id="resourceInfoMap" type="com.cas.sim.tis.vo.ResourceInfo">
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="browsedTimes" column="browsed_times" />
		<result property="collectedTimes" column="collected_times" />
	</resultMap>

	<select id="selectResourceInfoByID" resultMap="resourceInfoMap">
		select
		u.name as creator,r.create_date,r.browsed_times,r.collected_times
		from
		resource r
		left join
		user u
		on
		r.creator=u.id
		where
		r.id=#{id}
	</select>

	<update id="increaseBrowse">
		update resource set browsed_times=browsed_times+1 where id=#{id}
	</update>

	<update id="increaseCollection">
		update resource set collected_times=collected_times+1 where id=#{id}
	</update>

	<update id="decreaseCollection">
		update resource set collected_times=collected_times-1 where id=#{id}
	</update>
</mapper>