<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.ResourceMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Resource">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="TYPE" jdbcType="INTEGER" property="type" />
		<result column="PATH" jdbcType="VARCHAR" property="path" />
		<result column="KEYWORD" jdbcType="VARCHAR" property="keyword" />
		<!-- <result column="COMMENT" jdbcType="VARCHAR" property="desc" /> -->
		<result column="CREATOR" jdbcType="INTEGER" property="creator" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<!-- <result column="PUBLIC" jdbcType="INTEGER" property="open" /> -->
		<result column="DEL" jdbcType="INTEGER" property="del" />
		<result column="BROWSED_TIMES" jdbcType="INTEGER" property="browsedTimes" />
		<result column="COLLECTED_TIMES" jdbcType="INTEGER" property="collectedTimes" />
	</resultMap>
	<resultMap id="ResourceInfoMap" type="com.cas.sim.tis.vo.ResourceInfo">
		<result property="creator" column="creator" />
		<result property="createDate" column="create_date" />
		<result property="browsedTimes" column="browsed_times" />
		<result property="collectedTimes" column="collected_times" />
	</resultMap>
	
	<resultMap id="ResourceSearchResultMap" type="com.cas.sim.tis.mapper.data.ReserchResult">
		<result property="type" column="type" />
		<result property="size" column="size" />
	</resultMap>

	<select id="selectResourceInfoByID" resultMap="ResourceInfoMap">
		select
		u.name as creator,r.create_date,r.browsed_times,r.collected_times
		from
		resource r
		left join
		user u
		on
		r.creator=u.id
		where
		r.id=#{id}
	</select>

	<select id="findResourcesByBrowseHistory" resultMap="BaseResultMap">
		select
		r.id,r.type,r.name,b.create_date,r.browsed_times
		from
		browse_history b,resource r
		where
		b.rid=r.id and b.creator=#{creator}
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
		<if test="types.size()>0 and types != null">
			and r.type in
			<foreach item="type" collection="types" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		order by b.create_date desc
	</select>

	<select id="countBrowseResourceByType" resultType="java.lang.Integer">
		select
		count(*)
		from
		(select distinct
		r.id
		from
		browse_history b,resource r
		where
		b.rid=r.id and b.creator=#{creator} and r.type = #{type}
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
		) a
	</select>

	<select id="findResourcesByCollection" resultMap="BaseResultMap">
		select
		r.id,r.type,r.name,c.create_date,r.browsed_times
		from
		collection c,resource r
		where
		c.rid=r.id and c.del=0 and c.creator=#{creator}
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
		<if test="types.size()>0 and types != null">
			and r.type in
			<foreach item="type" collection="types" open="(" separator="," close=")">
				#{type}
			</foreach>
		</if>
		order by c.create_date desc
	</select>

	<select id="countCollectionResourceByType" resultType="java.lang.Integer">
		select
		count(r.id)
		from
		collection c,resource r
		where
		c.rid=r.id and c.del=0 and c.creator=#{creator} and r.type = #{type}
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
	</select>

	<select id="countResourceByTypes" resultMap="ResourceSearchResultMap">
		select
			r.type, count(r.id)
		from
			collection
		where
			c.del=0 
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
			and c.creator=#{creator} 
			and r.type in
		<foreach item="type" collection="types" open="(" separator="," close=")">
			#{type}
		</foreach>
		group by
			r.type
	</select>

	<select id="countBrowseResourceByTypes" resultMap="ResourceSearchResultMap">
		select
			r.type, count(r.id)
		from
			browse_history b left out join resource r on b.rid = r.id
		where
			c.del=0 
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
			and b.creator=#{creator} 
			and r.type in
		<foreach item="type" collection="types" open="(" separator="," close=")">
			#{type}
		</foreach>
		group by
			r.type
	</select>

	<select id="countCollectionResourceByTypes" resultMap="ResourceSearchResultMap">
		select
			r.type, count(r.id)
		from
			collection c left out join resource r on b.rid = r.id
		where
			c.del=0 
		<if test="keyword != null and keyword != ''">
			and r.keyword like '%${keyword}%'
		</if>
			and c.creator=#{creator} 
			and r.type in
		<foreach item="type" collection="types" open="(" separator="," close=")">
			#{type}
		</foreach>
		group by
			r.type
	</select>

	<update id="increaseBrowse">
		update resource set browsed_times=browsed_times+1 where id=#{id}
	</update>

	<update id="increaseCollection">
		update resource set collected_times=collected_times+1 where id=#{id}
	</update>

	<update id="decreaseCollection">
		update resource set collected_times=collected_times-1 where id=#{id}
	</update>
	
	
</mapper>