<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.sim.tis.mapper.StudentMapper">
	<resultMap id="BaseResultMap" type="com.cas.sim.tis.entity.Student">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="CODE" jdbcType="VARCHAR" property="code" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="PASSWORD" jdbcType="VARCHAR" property="password" />
		<result column="CID" jdbcType="INTEGER" property="clsId" />
		<!-- <result column="CREATOR" jdbcType="INTEGER" property="creator" /> -->
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<!-- <result column="UPDATER" jdbcType="INTEGER" property="updater" /> -->
		<result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="DEL" jdbcType="INTEGER" property="del" />
	</resultMap>
</mapper>