.root{
	-fx-text-background-color:#333333;
}
.label{
	-fx-font-family: "微软雅黑";
}
.text{
	-fx-font-family: "微软雅黑";
}
.en-label {
	-fx-font-family:'Arial';
}
.en-label {
	-fx-font-family:'Arial';
}
.font14{
	-fx-font-size:14.0px;
}
.font16{
	-fx-font-size:16.0px;
}
.font18{
	-fx-font-size:18.0px;
}
.error{
	-fx-text-fill:#ff5656;
}
/*******************************************************************************
 *                                                                             *
 * 饼图样式                                                                  *
 *                                                                             *
 ******************************************************************************/
.default-color0.chart-pie { -fx-pie-color: #dd3a2e; }
.default-color1.chart-pie { -fx-pie-color: #ff9e2c; }
.default-color2.chart-pie { -fx-pie-color: #ffdd40; }
.default-color3.chart-pie { -fx-pie-color: #c5f72b; }
.default-color4.chart-pie { -fx-pie-color: #2bc9f7; }
.default-color5.chart-pie { -fx-pie-color: #1cabbb; }
.default-color6.chart-pie { -fx-pie-color: #2b73f7; }     
.default-color7.chart-pie { -fx-pie-color: #9760f1; }           
/*******************************************************************************
 *                                                                             *
 * 提示样式                                                                  *
 *                                                                             *
 ******************************************************************************/
 .tip{
 	-fx-background: rgba(30.0,30.0,30.0);
    -fx-background-color: rgba(30.0,30.0,30.0,0.8);
    -fx-background-radius: 6.0px;
    -fx-background-insets: 0.0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 10.0, 0.0 , 0.0 , 3.0 );
 	-fx-max-width:100.0px;
 	-fx-max-height:60.0px;
 	-fx-text-alignment:center;
 	-fx-text-fill: #ffffff;
 }
/*******************************************************************************
 *                                                                             *
 * 滚动条样式                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}
.scroll-pane > * {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}
.scroll-bar> .thumb {
    -fx-background-radius:0.0;
}
/*******************************************************************************
 *                                                                             *
 *  输入框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.text-field{
	-fx-border-radius: 0.0px;
	-fx-background-radius: 0.0px;
}
/*******************************************************************************
 *                                                                             *
 * 分页控件                                                           *
 *                                                                             *
 ******************************************************************************/
.pagination > .pagination-control > .control-box{
	-fx-spacing: 10.0px;
}

.pagination .toggle-button {
	-fx-font-size:12.0px;
	-fx-text-fill: #ffffff;
	-fx-background-color:#19b0c6;
    -fx-background-radius:0.0px;
    -fx-background-insets: 0.0px;
    -fx-min-width:30.0px;
    -fx-min-height:30.0px;
}

.pagination .toggle-button:hover {
	-fx-background-color:#51bfcf;
}

.pagination .toggle-button:selected {
	-fx-text-fill: #ffffff;
	-fx-font-weight: bolder;
	-fx-background-color:#22678f;
	-fx-background-insets: 1.0px;
}

.pagination .button{
	-fx-font-size:12.0px;
    -fx-background-color:#19b0c6;
    -fx-background-radius:0.0px;
    -fx-background-insets: 0.0px;
    -fx-min-width:30.0px;
    -fx-min-height:30.0px;
}

.pagination .label {
    -fx-text-fill: #333333;
}

.pagination > .pagination-control > .control-box > .left-arrow-button:disabled,
.pagination > .pagination-control > .control-box > .right-arrow-button:disabled {
    -fx-background-color: #98b2b6;
}

.pagination > .pagination-control .left-arrow {
    -fx-background-color: #ffffff;
    -fx-translate-x: -3.5;
    -fx-translate-y: -1.0;
}

.pagination > .pagination-control .right-arrow {
    -fx-background-color: #ffffff;
    -fx-translate-x: 3.5;
    -fx-translate-y: -1.0;
}
/*******************************************************************************
 *                                                                             *
 * toggle按钮样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .toggle-button {
	-fx-background-color: #19b0c6;
	-fx-background-radius:0.0;
	-fx-border-color:transparent;
	-fx-border-radius: 0.0;
	-fx-cursor: hand;
	-fx-text-fill: #ffffff;
}
.toggle-button:hover {
	-fx-background-color:#51bfcf;
}
.toggle-button:selected {
	-fx-background-color: #22678f;
	-fx-background-insets: 0.0 0.0 -2.0 0.0;
	-fx-border-color: none;
}
/*******************************************************************************
 *                                                                             *
 * 按钮样式                                                          *
 *                                                                             *
 ******************************************************************************/
.button {
	-fx-font-size:14.0px;
	-fx-font-weight: bolder;
	-fx-font-family: "微软雅黑";
	-fx-cursor: hand;
}
.img-btn{
	-fx-background-color: transparent;
}
.img-btn:hover{
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.blue-btn{
	-fx-background-color: #19b0c6;
	-fx-background-radius: 0.0px;
	-fx-text-fill: #ffffff;
}
.blue-btn:hover{
	-fx-background-color: #51bfcf;
}
.decoration{
	-fx-background-color: #224f7a;
	-fx-background-radius: 0.0;
	-fx-max-height: 30.0px;
	-fx-max-width: 30.0px;
	-fx-min-height: 30.0px;
	-fx-min-width: 30.0px;
}
.decoration:hover {
	-fx-background-color: #136989; 
}
/*******************************************************************************
 *                                                                             *
 * 登录样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .login{
 	-fx-background-image: url(/static/images/basic/login-bg.png);
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 }
 .login-decoration{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0;
	-fx-max-height: 30.0px;
	-fx-max-width: 30.0px;
	-fx-min-height: 30.0px;
	-fx-min-width: 30.0px;
}
.login-decoration:hover {
	-fx-background-color: #136989; 
}
/*******************************************************************************
 *                                                                             *
 * 搜索设置样式                                                          *
 *                                                                             *
 ******************************************************************************/
.search-box {
	-fx-background-color: white;
    -fx-background-insets: 1.0;
    -fx-background-radius: 15.0;
    -fx-padding: -9.0 5.0 -11.0 0.0;
    -fx-border-image-source: url("/static/images/basic/search.png");
    -fx-border-image-slice: 12.0 12.0 12.0 22.0 fill;
    -fx-border-image-width: 12.0 12.0 12.0 22.0;
    -fx-border-image-repeat: stretch;
    -fx-font-size: 13.0px;
    -fx-prompt-text-fill: grey;
}

.search-box:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1.0;
    -fx-background-radius: 14.4;
}

.search-btn {
    -fx-background-color: null;
    -fx-background-image: url("/static/images/basic/search-clear.png");
    -fx-background-repeat: no-repeat;
}

.search-btn:hover {
    -fx-background-image: url("/static/images/basic/search-clear-over.png");
}
/*******************************************************************************
 *                                                                             *
 * 服务器设置样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .network{
 	-fx-background-image: url(/static/images/basic/login-bg.png);
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 }
/*******************************************************************************
 *                                                                             *
 * 主页样式                                                          *
 *                                                                             *
 ******************************************************************************/
.home-menu{
	-fx-background-color: transparent;
	-fx-background-radius: 10.0px;
}
.home-menu:hover{
	-fx-background-color: #1cb8df22;
	-fx-effect: dropshadow(three-pass-box , #136989, 5.0, 0.0 , 0.0, 0.0); 
}
.home-menu:pressed{
	-fx-background-color: #1cb8df66;
	-fx-effect: dropshadow(three-pass-box , #136989, 5.0, 0.0 , 0.0, 0.0); 
}
.home-selection{
	-fx-background-color: #2c5381aa;
	-fx-background-radius: 5.0px;
	-fx-border-color: #97ccff;
	-fx-border-radius: 5.0px;
	-fx-border-width: 3.0px;
	-fx-cursor: hand;
}
.home-selection:hover{
	-fx-border-color: #ffb400;
}
/*******************************************************************************
 *                                                                             *
 * 左侧菜单栏显隐                                                          *
 *                                                                             *
 ******************************************************************************/
.left-menu-btn{
	-fx-background-color: #36a8a7;
	-fx-background-radius: 0.0px;
	-fx-max-width: 18.0px;
	-fx-max-height: 30.0px;
	-fx-min-width: 18.0px;
	-fx-min-height: 30.0px;
}
.left-menu-btn:hover>.hide{
	-fx-background-color: #267473aa;
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.left-menu-btn:hover>.show{
	-fx-background-color: #267473aa;
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.left-menu-btn>.hide{
	-fx-background-color: #267473;
    -fx-padding: 0.375em 0.291em 0.375em 0.291em;
    -fx-shape: "M 0 0 L -13 7 L 0 13 z";
    -fx-scale-shape: true;
}
.left-menu-btn>.show{
	-fx-background-color: #267473;
    -fx-padding: 0.375em 0.291em 0.375em 0.291em;
    -fx-shape: "M 0 0 L 13 7 L 0 13 z";
    -fx-scale-shape: true;
}
/*******************************************************************************
 *                                                                             *
 * 表格样式                                                                  *
 *                                                                             *
 ******************************************************************************/
 .table>.header>.cell {
 	-fx-font-weight:bold;
 }
 .tab-row {
 	-fx-background-color: #f4f4f4;
 }
 .tab-row-hover {
 	-fx-background-color: #e1e1e1;
 }
 .tab-row-selected {
 	-fx-background-color: #333333;
 }
 .tab-row-selected>.cell {
 	-fx-text-fill:#ffffff;
 }
 .table-row-hover {
 	-fx-background-color:#f9f9f9;
 }
/*******************************************************************************
 *                                                                             *
 * 遮罩样式                                                          *
 *                                                                             *
 ******************************************************************************/
.cover{
	-fx-background-color: #2c5381aa;
}
.left-cover{
	-fx-background-color: #2c76a9aa;
	-fx-border-color: #37a9a8;
	-fx-border-width: 0.0 2.0 0.0 0.0;
	-fx-max-width: 230.0px;
	-fx-min-width: 230.0px;
	-fx-spacing: 25.0px;
}
.top-cover{
	-fx-background-color: #2b76a5aa;
}
.right-cover{
	-fx-background-color:#fbfbfb;
}
/*******************************************************************************
 *                                                                             *
 * 树样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .leaf{
 	-fx-padding: 5.0px;
 	-fx-spacing: 5.0px;
 	-fx-border-width: 0.0px;
 	-fx-font-size:12.0px;
 }
 .leaf>.label{
 	-fx-text-fill:#ffffff;
 }
 .leaf>*>.label{
 	-fx-text-fill:#ffffff;
 }
 .leaf:hover{
 	/*-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);*/
 	-fx-cursor: hand;
 }
 .leaf:hover>.label{
 	-fx-text-fill:#ff9e2c;
 }
 .leaf:hover>*>.label{
 	-fx-text-fill:#ff9e2c;
 }
 .lv1>*>.leaf{
 	-fx-background-color: #22678f;
 	-fx-font-size: 14.0px;
 }
 .lv4>*>.leaf{
 	-fx-border-color:#ffffff;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-border-style:dashed;
 }
 .lv4:hover>*>.leaf{
 	-fx-border-color:#ff9e2c;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-border-style:dashed;
 }
/*******************************************************************************
 *                                                                             *
 * 左侧菜单样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .left-menu{
 	-fx-background-color:transparent;
 	-fx-background-radius:0.0;
 	-fx-pref-height: 45.0px;
 	-fx-pref-width: 210.0px;
 	-fx-padding: 0.0 35.0px;
 	-fx-alignment: CENTER-LEFT;
 	-fx-text-fill:#ffffff;
 }
 .left-menu:hover{
 	-fx-background-color:#22678f;
 }
/*******************************************************************************
 *                                                                             *
 * 标题样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .title{
 	-fx-background-color: #ff9e2c;
 	-fx-background-radius: 0.0 20.0 20.0 0.0;
 	-fx-pref-height: 35.0px;
 	-fx-pref-width: 150.0px;
 	-fx-alignment: CENTER-LEFT;
 }
 .title>.icon{
 	-fx-pref-height: 5.0px;
 	-fx-pref-width: 5.0px;
 	-fx-max-height: 5.0px;
 	-fx-max-width: 5.0px;
 	-fx-padding: 0.375em 0.291em 0.375em 0.291em;
 	-fx-background-color: #ffffff;
    -fx-shape: "M 0 0 L 13 7 L 0 13 z";
    -fx-scale-shape: true;
 }
/*******************************************************************************
 *                                                                             *
 * ASK多选框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.check-box > .box > .mark {
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}
.check-box:selected > .box > .mark {
    -fx-background-color: #2fcbd9;
}
.ask-check-box{
    -fx-background-color: #f6f6f6;
    -fx-pref-height:40.0px;
    -fx-pref-width: 390.0px;
    -fx-padding: 10.0px;
    -fx-font-size: 14.0px;
}
.ask-check-box > .box {
	-fx-background-color: transparent;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}
.ask-check-box > .box > .mark {
    -fx-background-color: transparent;
}
/*******************************************************************************
 *                                                                             *
 * 图标多选框样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .img-check-box>.box{
 	-fx-background-color: transparent;
 	-fx-translate-x: 15.0;
 	-fx-translate-y: 15.0;
 }
 /*******************************************************************************
 *                                                                             *
 * 表格样式                                                                  *
 *                                                                             *
 ******************************************************************************/
 .table>.header {
 	-fx-background-color: #f6f6f6;
 }
 .table>.header>.cell {
 	-fx-font-weight:bold;
 }
 .tab-row {
 	-fx-background-color: #f6f6f6;
 }
 .tab-row-hover {
 	-fx-background-color: #e1e1e1;
 }
 .tab-row-selected {
 	-fx-background-color: #19b0c6;
 }
 .tab-row-selected>.cell {
 	-fx-text-fill:#ffffff;
 	-fx-font-weight:bold;
 }
 .table-row-hover {
 	-fx-background-color:#f9f9f9;
 }