.root{
	-fx-text-background-color:#333333;
}
.label{
	-fx-font-family: "微软雅黑";
}
.text{
	-fx-font-family: "微软雅黑";
}
.en-label {
	-fx-font-family:'Arial';
}
.en-label {
	-fx-font-family:'Arial';
}
.font14{
	-fx-font-size:14.0px;
}
.font16{
	-fx-font-size:16.0px;
}
.font18{
	-fx-font-size:18.0px;
}
.red{
	-fx-fill: #ff5656;
	-fx-text-fill:#ff5656;
}
.green{
	-fx-fill: #83ad1c;
	-fx-text-fill:#83ad1c;
}
.orange{
	-fx-fill: #e89029;
	-fx-text-fill:#e89029;
}
.blue{
	-fx-fill: #0090FF;
	-fx-text-fill:#0090FF;
}
.bold{
	-fx-font-weight: bold;
}
/*******************************************************************************
 *                                                                             *
 * 文本框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.text-input {
	-fx-font-family: "微软雅黑";
    -fx-background-color: #ffffff;
    -fx-background-radius:0.0;
    -fx-border-color:#d4d4d4;
    -fx-border-radius: 0.0;
    -fx-text-fill:#333333;
    -fx-pref-height: 40.0px;
}
.text-input:focused {
	-fx-border-color:#c4c4c4;
}
/*******************************************************************************
 *                                                                             *
 * 下拉框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.combo-box > .list-cell {
    -fx-text-fill: #333333;
}
.combo-box-base {
    -fx-background-radius: 0.0;
    -fx-background-color: #ffffff;
    -fx-border-color: #d4d4d4;
}
.combo-box-base > .arrow-button {
    -fx-background-radius: 0.0;
}
/*******************************************************************************
 *                                                                             *
 * 饼图样式                                                                  *
 *                                                                             *
 ******************************************************************************/
.default-color0.chart-pie { -fx-pie-color: #dd3a2e; }
.default-color1.chart-pie { -fx-pie-color: #ff9e2c; }
.default-color2.chart-pie { -fx-pie-color: #ffdd40; }
.default-color3.chart-pie { -fx-pie-color: #9abd57; }
.default-color4.chart-pie { -fx-pie-color: #2bc9f7; }
.default-color5.chart-pie { -fx-pie-color: #1cabbb; }
.default-color6.chart-pie { -fx-pie-color: #2b73f7; }     
.default-color7.chart-pie { -fx-pie-color: #9760f1; } 
/* 
.default-color0.chart-pie { -fx-pie-color: #FF6666; }
.default-color1.chart-pie { -fx-pie-color: #0099CC; }
.default-color2.chart-pie { -fx-pie-color: #B000CC; }
.default-color3.chart-pie { -fx-pie-color: #FF9100; }
.default-color4.chart-pie { -fx-pie-color: #2E6196; }
.default-color5.chart-pie { -fx-pie-color: #FF5E00; }
.default-color6.chart-pie { -fx-pie-color: #5A9947; }     
.default-color7.chart-pie { -fx-pie-color: #976464; }  */     
/*******************************************************************************
 *                                                                             *
 * 提示样式                                                                  *
 *                                                                             *
 ******************************************************************************/
 .tip{
 	-fx-background: rgba(30.0,30.0,30.0);
    -fx-background-color: rgba(30.0,30.0,30.0,0.8);
    -fx-background-radius: 6.0px;
    -fx-background-insets: 0.0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.5) , 10.0, 0.0 , 0.0 , 3.0 );
 	-fx-max-width:100.0px;
 	-fx-max-height:60.0px;
 	-fx-text-alignment:center;
 	-fx-text-fill: #ffffff;
 }
/*******************************************************************************
 *                                                                             *
 * 滚动条样式                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}
.scroll-pane > * {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}
.scroll-bar> .thumb {
	-fx-background-color: #51bfcf;
    -fx-background-radius:0.0;
}
.scroll-bar > .increment-button > .increment-arrow ,
.scroll-bar > .increment-button > .decrement-arrow {
    -fx-background-color: #51bfcf;
}
/*******************************************************************************
 *                                                                             *
 * 分割线样式                                                           *
 *                                                                             *
 ******************************************************************************/
 .separator > .line {
 	-fx-border-width: 0.5;
 	-fx-border-color: #e2e2e2;
 }
/*******************************************************************************
 *                                                                             *
 *  输入框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.text-field{
	-fx-border-radius: 0.0px;
	-fx-background-radius: 0.0px;
}
/*******************************************************************************
 *                                                                             *
 * 分页控件                                                           *
 *                                                                             *
 ******************************************************************************/
.pagination-bar>.button{
	-fx-background-color:#ffffff;
	-fx-background-radius: 0.0px;
	-fx-border-color: #e2e2e2;
	-fx-border-radius: 0.0px;
	-fx-border-width: 1.0 0.5 1.0 0.5;
	-fx-text-fill: #333333;
	-fx-font-size: 10.0px;
	-fx-min-width:30.0px;
	-fx-min-height:30.0px;
	-fx-max-width:30.0px;
	-fx-max-height:30.0px;
}
.pagination-bar>.button:hover{
	-fx-background-color:#51bfcf;
	-fx-border-color: #51bfcf;
	-fx-text-fill: #ffffff;
}
.pagination-bar>*>.toggle-button{
	-fx-background-color:#ffffff;
	-fx-background-radius: 0.0px;
	-fx-border-color: #e2e2e2;
	-fx-border-radius: 0.0px;
	-fx-border-width: 1.0 0.5 1.0 0.5;
	-fx-border-insets: 0.0 0.0 -1.0 0.0;
	-fx-text-fill: #333333;
	-fx-font-size: 10.0px;
	-fx-min-width:30.0px;
	-fx-min-height:30.0px;
	-fx-max-width:30.0px;
	-fx-max-height:30.0px;
}
.pagination-bar>*>.toggle-button:hover{
	-fx-background-color:#51bfcf;
	-fx-border-color: #51bfcf;
	-fx-text-fill: #ffffff;
	-fx-background-insets:0.0;
}
.pagination-bar>*>.toggle-button:selected{
	-fx-background-color:#19b0c6;
	-fx-border-color: #19b0c6;
	-fx-text-fill: #ffffff;
	-fx-background-insets:0.0;
}
.pagination-bar>.prev,
.pagination-bar>.next{
	-fx-padding: 10.0px;
}
.pagination-bar>.prev:disabled,
.pagination-bar>.next:disabled{
	-fx-background-color: #e2e2e2;
}
.pagination-bar>.prev>.prev-arrow{
	-fx-background-color:#333333;
    -fx-shape: "M 0 0 L -13 7 L 0 13 z";
    -fx-scale-shape: true;
}
.pagination-bar>.next>.next-arrow{
	-fx-background-color:#333333;
	-fx-shape: "M 0 0 L 13 7 L 0 13 z";
	-fx-scale-shape: true;
}
.pagination-bar>.prev:hover>.prev-arrow{
	-fx-background-color:#ffffff;
}
.pagination-bar>.next:hover>.next-arrow{
	-fx-background-color:#ffffff;
}
.pagination-bar>*>.etc{
	-fx-background-color:#ffffff;
	-fx-background-radius: 0.0px;
	-fx-border-color: #e2e2e2;
	-fx-border-radius: 0.0px;
	-fx-border-width: 1.0 0.5 1.0 0.5;
	-fx-text-fill: #333333;
	-fx-text-alignment: center;
	-fx-alignment: center;
	-fx-min-width:30.0px;
	-fx-min-height:30.0px;
	-fx-max-width:30.0px;
	-fx-max-height:30.0px;
}
/*******************************************************************************
 *                                                                             *
 * toggle按钮样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .toggle-button {
	-fx-background-color: #19b0c6;
	-fx-background-insets: 0.0;
	-fx-background-radius:0.0;
	-fx-border-color:transparent;
	-fx-border-radius: 0.0;
	-fx-cursor: hand;
	-fx-text-fill: #ffffff;
	-fx-font-size:14.0px;
}
.toggle-button:hover {
	-fx-background-color:#f6a23faa;
}
.toggle-button:selected {
	-fx-background-color: #f6a23f;
	-fx-background-insets: 0.0;
	-fx-border-color: none;
}
/*******************************************************************************
 *                                                                             *
 * 按钮样式                                                          *
 *                                                                             *
 ******************************************************************************/
.button {
	-fx-font-size:14.0px;
	-fx-font-weight: bolder;
	-fx-font-family: "微软雅黑";
	-fx-cursor: hand;
}
.img-btn{
	-fx-background-color: transparent;
}
.img-btn:hover{
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.blue-btn{
	-fx-background-color: #19b0c6;
	-fx-background-radius: 0.0px;
	-fx-text-fill: #ffffff;
}
.blue-btn:hover{
	-fx-background-color: #51bfcf;
}
.blue-btn:disable{
	-fx-text-fill: #c5c5c5;
}
.decoration{
	-fx-background-color: #224f7a;
	-fx-background-radius: 0.0;
	-fx-max-height: 30.0px;
	-fx-max-width: 30.0px;
	-fx-min-height: 30.0px;
	-fx-min-width: 30.0px;
}
.decoration:hover {
	-fx-background-color: #136989; 
}
/*******************************************************************************
 *                                                                             *
 * 登录样式                                                          *
 *                                                                             *
 ******************************************************************************/
/* 
 .login{
 	-fx-background-image: url(/static/images/basic/login-bg.png);
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 }
 */
 .login-decoration{
	-fx-background-color: transparent;
	-fx-background-radius: 0.0;
	-fx-max-height: 30.0px;
	-fx-max-width: 30.0px;
	-fx-min-height: 30.0px;
	-fx-min-width: 30.0px;
 }
 .login-decoration:hover {
	-fx-background-color: #136989; 
 }

.login{
	-fx-background-color: transparent;
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 	-fx-pref-width:375.0px;
 	-fx-pref-height: 550.0px;
 	-fx-padding: 5.0px;
}
.login>*{
	-fx-background-image: url(/static/images/basic/login.png),url(/static/images/basic/login2.png);
}
.login-field{
	-fx-background-color:#06427688;
	-fx-border-color:transparent;
	-fx-prompt-text-fill:#ffffff88;
	-fx-text-fill: #ffffff;
	-fx-font-size:14.0px;
 	-fx-min-height: 40.0px;
}
.login-field:focused{
	-fx-background-color:#064276,#06427688,#06427644;
	-fx-background-insets:-0.4, 1.0, 2.0;
	-fx-border-color:transparent;
}
.login-btn{
	-fx-background-color:#0993e3;
	-fx-background-radius: 0.0;
	-fx-text-fill: #ffffff;
}
.login-cancel-btn{
	-fx-background-color:transparent;
	-fx-background-radius: 0.0;
	-fx-border-color:#ffffff;
	-fx-text-fill: #ffffff;
}
/*******************************************************************************
 *                                                                             *
 * 搜索设置样式                                                          *
 *                                                                             *
 ******************************************************************************/
.search-box {
	-fx-background-color: white;
    -fx-background-insets: 1.0;
    -fx-background-radius: 15.0;
    -fx-padding: -9.0 5.0 -11.0 0.0;
    -fx-border-image-source: url("/static/images/basic/search.png");
    -fx-border-image-slice: 12.0 12.0 12.0 22.0 fill;
    -fx-border-image-width: 12.0 12.0 12.0 22.0;
    -fx-border-image-repeat: stretch;
    -fx-font-size: 13.0px;
    -fx-prompt-text-fill: grey;
}

.search-box:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1.0;
    -fx-background-radius: 14.4;
}

.search-btn {
    -fx-background-color: null;
    -fx-background-image: url("/static/images/basic/search-clear.png");
    -fx-background-repeat: no-repeat;
}

.search-btn:hover {
    -fx-background-image: url("/static/images/basic/search-clear-over.png");
}
/*******************************************************************************
 *                                                                             *
 * 服务器设置样式                                                          *
 *                                                                             *
 ******************************************************************************/
 /* 
 .network{
 	-fx-background-image: url(/static/images/basic/login-bg.png);
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 }
 */
 .network{
 	-fx-background-color: transparent;
 	-fx-effect: dropshadow(three-pass-box , #373634, 5.0, 0.0 , 0.0, 0.0);
 	-fx-pref-width:375.0px;
 	-fx-pref-height: 550.0px;
 	-fx-padding: 5.0px;
 }
 .network>*{
 	-fx-background-image: url(/static/images/basic/login.png);
 }
/*******************************************************************************
 *                                                                             *
 * 主页样式                                                          *
 *                                                                             *
 ******************************************************************************/
.home-menu{
	-fx-background-color: transparent;
	-fx-background-radius: 10.0px;
}
.home-menu:hover{
	-fx-background-color: #1cb8df22;
	-fx-effect: dropshadow(three-pass-box , #136989, 5.0, 0.0 , 0.0, 0.0); 
}
.home-menu:pressed{
	-fx-background-color: #1cb8df66;
	-fx-effect: dropshadow(three-pass-box , #136989, 5.0, 0.0 , 0.0, 0.0); 
}
.home-selection{
	-fx-background-color: #2c5381aa;
	-fx-background-radius: 5.0px;
	-fx-border-color: #97ccff;
	-fx-border-radius: 5.0px;
	-fx-border-width: 3.0px;
	-fx-cursor: hand;
}
.home-selection:hover{
	-fx-border-color: #ffb400;
}
/*******************************************************************************
 *                                                                             *
 * 左侧菜单栏显隐                                                          *
 *                                                                             *
 ******************************************************************************/
.left-menu-btn{
	-fx-background-color: #36a8a7;
	-fx-background-radius: 0.0px;
	-fx-max-width: 15.0px;
	-fx-max-height: 30.0px;
	-fx-min-width: 15.0px;
	-fx-min-height: 30.0px;
	-fx-padding: 10.0 5.0;
}
.left-menu-btn:hover>.hide{
	-fx-background-color: #267473aa;
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.left-menu-btn:hover>.show{
	-fx-background-color: #267473aa;
	-fx-effect:dropshadow(three-pass-box , #ffffbe, 5.0, 0.0 , 0.0, 0.0);
}
.left-menu-btn>.hide{
	-fx-background-color: #267473;
    -fx-shape: "M 0 0 L -13 7 L 0 13 z";
    -fx-scale-shape: true;
}
.left-menu-btn>.show{
	-fx-background-color: #267473;
    -fx-shape: "M 0 0 L 13 7 L 0 13 z";
    -fx-scale-shape: true;
}
/*******************************************************************************
 *                                                                             *
 * 遮罩样式                                                          *
 *                                                                             *
 ******************************************************************************/
.cover{
	-fx-background-color: #2c5381aa;
}
.left-cover{
	-fx-background-color: #2c76a9aa;
	-fx-background-insets: 0.0 1.0 0.0 0.0;
/* 	-fx-border-color: #37a9a8;
	-fx-border-width: 0.0 2.0 0.0 0.0; */
	-fx-max-width: 230.0px;
	-fx-min-width: 230.0px;
	-fx-spacing: 25.0px;
}
.top-cover{
	-fx-background-color: #2b76a5aa;
}
.right-cover{
	-fx-background-color:#fbfbfb;
}
/*******************************************************************************
 *                                                                             *
 * 手风琴样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .titled-content-btn{
	-fx-pref-width: 210.0px;
	-fx-pref-height:40.0px;
	-fx-text-fill: #ffffff;
	-fx-font-weight: normal;
	-fx-background-color:transparent;
	-fx-border-color:#ffffff;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-border-style:dashed;
 	-fx-alignment: center-left;
 	-fx-font-size:14.0px;
 	-fx-cursor: hand;
}
.titled-content-btn:hover{
	-fx-pref-width: 210.0px;
	-fx-pref-height:40.0px;
	-fx-text-fill: #ff9e2c;
	-fx-background-color:transparent;
	-fx-border-color:#ff9e2c;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-border-style:dashed;
 	-fx-alignment: center-left;
}
.titled-content-btn:selected{
	-fx-pref-width: 210.0px;
	-fx-pref-height:40.0px;
	-fx-text-fill: #ff9e2c;
	-fx-background-color:transparent;
	-fx-border-color:#ff9e2c;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-border-style:dashed;
 	-fx-alignment: center-left;
}
.titled-content-btn:hover>*>.label,
.titled-content-btn:hover>*>*>.label,
.titled-content-btn:selected>*>.label,
.titled-content-btn:selected>*>*>.label{
	-fx-text-fill: #ff9e2c;
}
.accordion > .titled-pane {
    -fx-text-fill: #ffffff;
}
.accordion > .titled-pane > .title > * {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14.0px;
    -fx-font-weight: bold;
}
.accordion > .titled-pane:hover > .title > * {
    -fx-effect:dropshadow(three-pass-box , #ffffbe88, 5.0, 0.0 , 0.0, 0.0);
}
.accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0.0;
}
.accordion > .titled-pane > *.content {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;
    -fx-border-color:transparent;
    -fx-padding: 0.0px;
}
.accordion > .titled-pane > .title {
    -fx-background-color:transparent;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-text-fill: #ffffff;
    -fx-padding: 5.0px 0.0;
}
.white-accordion > .titled-pane {
    -fx-background-color:#f6f6f6;
    -fx-text-fill: #333333;
    -fx-padding: 0.0px;
}
.white-accordion > .titled-pane > .title {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-text-fill: #333333;
    -fx-padding: 10.0px;
}
.white-accordion > .titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #bebebe;
    -fx-background-insets: 0.0;
}
.white-accordion > .titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-effect:dropshadow(three-pass-box , #ffffbe88, 5.0, 0.0 , 0.0, 0.0);
}
.white-accordion > .titled-pane > *.content {
    -fx-background-color:#ffffff;
    -fx-background-insets: 0.0;
    -fx-border-color:#ffffff;
    -fx-border-insets: 0.0;
    -fx-padding: 0.0px;
}
.white-titled-content-btn{
	-fx-min-width: 600.0px;
	-fx-min-height: 45.0px;
	-fx-text-fill: #333333;
	-fx-font-weight: normal;
	-fx-background-color:#f2f2f2;
	-fx-background-insets: 0.0;
	-fx-border-color:#dedede;
	-fx-border-insets: 0.0;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-alignment: center-left;
}
.white-titled-content-btn:hover{
	-fx-min-width: 600.0px;
	-fx-min-height: 45.0px;
	-fx-text-fill: #333333;
	-fx-background-color:#e1e1e1;
	-fx-background-insets: 0.0;
	-fx-border-color:#dedede;
	-fx-border-insets: 0.0;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-alignment: center-left;
 	-fx-cursor: hand;
}
.white-titled-content-btn:selected{
	-fx-min-width: 600.0px;
	-fx-min-height: 45.0px;
	-fx-text-fill: #333333;
	-fx-background-color:#19b0c688;
	-fx-border-color:#dedede;
 	-fx-border-width: 0.0 0.0 1.0 0.0;
 	-fx-alignment: center-left;
}
.white-titled-content-btn:hover>*>.label,
.white-titled-content-btn:hover>*>*>.label,
.white-titled-content-btn:selected>*>.label,
.white-titled-content-btn:selected>*>*>.label{
	-fx-text-fill: #ff9e2c;
}
/*******************************************************************************
 *                                                                             *
 * 左侧菜单样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .left-menu,.left-menu-orange{
 	-fx-background-color:transparent;
 	-fx-background-radius:0.0;
 	-fx-min-height: 45.0px;
 	-fx-pref-height: 45.0px;
 	-fx-pref-width: 210.0px;
 	-fx-padding: 0.0 35.0px;
 	-fx-alignment: CENTER-LEFT;
 	-fx-text-fill:#ffffff;
 	-fx-font-weight: bold;
 	-fx-font-size: 14.0px;
 }
 .left-menu:hover{
 	-fx-background-color:#22678f;
 	-fx-background-insets: 0.0px;
 }
 .left-menu-orange{
 	-fx-alignment: CENTER;
 	-fx-background-color:#ff9e2c;
 }
 .left-menu-orange:hover{
 	-fx-background-color:#ff9e2c;
 }
/*******************************************************************************
 *                                                                             *
 * 标题样式                                                          *
 *                                                                             *
 ******************************************************************************/
 ._title{
 	-fx-background-color: #ff9e2c;
 	-fx-background-insets: 0.0 20.0 0.0 0.0;
 	-fx-pref-height: 40.0px;
 	-fx-max-height: 40.0px;
 	-fx-min-height: 40.0px;
 	-fx-min-width: 150.0px;
 	-fx-alignment: CENTER-LEFT;
 }
 ._title>.icon{
 	-fx-pref-height: 5.0px;
 	-fx-pref-width: 5.0px;
 	-fx-max-height: 5.0px;
 	-fx-max-width: 5.0px;
 	-fx-padding: 0.375em 0.291em 0.375em 0.291em;
 	-fx-background-color: #ffffff;
    -fx-shape: "M 0 0 L 13 7 L 0 13 z";
    -fx-scale-shape: true;
 }
 ._title>.triangle{
 	-fx-pref-width:20.0px;
 	-fx-max-width:20.0px;
 	-fx-min-width:20.0px;
 	-fx-background-color: #ff9e2c;
 	-fx-shape:"M 0 0 L 0 35 L 20 35 L 20 17 z";
 }
/*******************************************************************************
 *                                                                             *
 * ASK多选框样式                                                          *
 *                                                                             *
 ******************************************************************************/
.check-box > .box > .mark {
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}
.check-box:selected > .box > .mark {
    -fx-background-color: #2fcbd9;
}
.ask-check-box{
    -fx-background-color: #f6f6f6;
    -fx-pref-height:40.0px;
    -fx-pref-width: 390.0px;
    -fx-padding: 10.0px;
    -fx-font-size: 14.0px;
}
.ask-check-box:disabled{
	-fx-opacity: 1.0;	
}
.ask-check-box > .box {
	-fx-background-color: transparent;
    -fx-padding: 0.25em; /* 3 -- padding from the outside edge to the mark */
}
.ask-check-box > .box > .mark {
    -fx-background-color: transparent;
}
.point-check-box{
	-fx-background-color:#19b0c6;
	-fx-text-fill:#ffffff;
	-fx-font-weight: normal;
	-fx-label-padding: 10.0 25.0 10.0 0.0;
	-fx-wrap-text: true;
	-fx-max-width: 680.0px;
}
.point-check-box:hover{
	-fx-background-color:#f6a23faa;
}
.point-check-box:selected{
	-fx-background-color:#f6a23f;
}
.point-check-box > .box {
	-fx-opacity: 0.0;
	-fx-translate-x: 15.0;
}
/*******************************************************************************
 *                                                                             *
 * 图标多选框样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .img-check-box>.box{
 	-fx-background-color: transparent;
 	-fx-translate-x: 15.0;
 	-fx-translate-y: 15.0;
 }
 /*******************************************************************************
 *                                                                             *
 * 表格样式                                                                  *
 *                                                                             *
 ******************************************************************************/
 .table>.header {
 	-fx-background-color: #f6f6f6;
 }
 .table>.header>.cell {
 	-fx-font-weight:bold;
 }
 .table-row {
 	-fx-background-color: #f6f6f6;
 }
 .table-row-hover {
 	-fx-background-color: #e1e1e1;
 }
 .table-row-selected {
 	-fx-background-color: #19b0c688;
 }
 .table-row-selected>.cell {
 	-fx-text-fill:#ffffff;
 	-fx-font-weight:bold;
 }
/*******************************************************************************
 *                                                                             *
 * 认知模块按钮样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .recognize-btn{
 	-fx-pref-height: 40.0;
 	-fx-background-color: #19b0c6;
 	-fx-background-radius: 0.0px;
 	-fx-padding: 10.0,5.0;
 	-fx-text-fill:#ffffff;
 	-fx-font-size:14.0px;
 }
 .recognize-btn:hover{
 	-fx-background-color: #2c70a2;
 	-fx-cursor: hand;
 }
 .recognize-btn>.box{
 	-fx-background-color: transparent;
 	-fx-border-color:#ffffff;
	-fx-padding:0.0;
 }
 .recognize-btn:selected>.box>.mark{
 	-fx-background-color:#ffffff;
 	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
 }
 /*******************************************************************************
 *                                                                             *
 * 试题列表样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .question{
 	-fx-border-color: #c1c1c1;
 	-fx-border-style: dashed;
 	-fx-border-width: 2.0;
 	-fx-spacing: 20.0;
 	-fx-padding: 20.0;
 }
 .question:hover{
 	-fx-border-color: #f6a23faa;
 	-fx-border-style: solid;
 }
 .question-selected{
 	-fx-border-color: #f6a23f;
 	-fx-border-style: solid;
 }
/*******************************************************************************
 *                                                                             *
 * 自定义Dialog样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .dialog{
    -fx-background-color:#ffffff;
 	-fx-border-color:#E5E5E5;
 }
 .dialog>.header{
 	-fx-padding: 15.0px;
    -fx-border-color:#0090FF,#E5E5E5;
    -fx-border-width: 3.0 0.0 0.0 0.0,0.0 0.0 1.0 0.0;
 }
 .dialog>.text-field{
	-fx-border-radius: 0.0px;
	-fx-background-radius: 0.0px;
}
/*******************************************************************************
 *                                                                             *
 * 班级选择样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .class-select-item{
 	-fx-font-size: 14.0px;
 	-fx-text-fill: #6e6e6e;
 	-fx-background-color: #e3f4ff;
 	-fx-border-color: #d9d9d9;
 	-fx-border-width: 3.0px;
 	-fx-pref-width: 132.0px;
 	-fx-pref-height: 90.0px;
 	-fx-text-alignment: center;
 }
 .class-select-item:hover{
 	-fx-text-fill: #ffffff;
 	-fx-background-color: #30648daa;
 }
 .class-select-item:selected{
 	-fx-text-fill: #ffffff;
 	-fx-background-color: #30648d;
 	-fx-border-color: #d9d9d9;
 	-fx-border-width: 3.0px;
 }
 /*******************************************************************************
 *                                                                             *
 * 答题卡选项样式                                                          *
 *                                                                             *
 ******************************************************************************/
 .undo{
 	-fx-padding: 0.0px;
 	-fx-text-fill: #333333;
 	-fx-pref-height: 30.0px;
 	-fx-pref-width: 30.0px;
 	-fx-border-color:#999999;
 	-fx-border-insets: 0.0px;
 	-fx-background-color: transparent;
 	-fx-background-insets: 0.0px;
 }
 .done{
 	-fx-padding: 0.0px;
 	-fx-text-fill: #ffffff;
 	-fx-pref-height: 30.0px;
 	-fx-pref-width: 30.0px;
 	-fx-border-color:#f6a23f;
 	-fx-border-insets: 0.0px;
 	-fx-background-color: #f6a23f;
 	-fx-background-insets: 0.0px;
 }
 .right{
 	-fx-padding: 0.0px;
 	-fx-text-fill: #ffffff;
 	-fx-pref-height: 30.0px;
 	-fx-pref-width: 30.0px;
 	-fx-border-color:#83ad1c;
 	-fx-border-insets: 0.0px;
 	-fx-background-color: #83ad1c;
 	-fx-background-insets: 0.0px;
 }
 .wrong{
 	-fx-padding: 0.0px;
 	-fx-text-fill: #ffffff;
 	-fx-pref-height: 30.0px;
 	-fx-pref-width: 30.0px;
 	-fx-border-color:#ff5656;
 	-fx-border-insets: 0.0px;
 	-fx-background-color: #ff5656;
 	-fx-background-insets: 0.0px;
 }
 .undo:selected{
 	-fx-padding: 0.0px;
 	-fx-font-weight: bold;
 	-fx-text-fill: #ffffff;
 	-fx-border-color: transparent;
 	-fx-border-insets: 2.0;
 	-fx-background-color: #19b0c6;
 	-fx-background-insets: 2.0;
 }
 .done:selected{
 	-fx-padding: 0.0px;
 	-fx-font-weight: bold;
 	-fx-text-fill: #ffffff;
 	-fx-border-color: transparent;
 	-fx-border-insets: 2.0;
 	-fx-background-color: #f6a23f;
 	-fx-background-insets: 2.0;
 }
 .right:selected{
 	-fx-padding: 0.0px;
 	-fx-font-weight: bold;
 	-fx-text-fill: #ffffff;
 	-fx-border-color: transparent;
 	-fx-border-insets: 2.0;
 	-fx-background-color: #83ad1c;
 	-fx-background-insets: 2.0;
 }
 .wrong:selected{
 	-fx-padding: 0.0px;
 	-fx-font-weight: bold;
 	-fx-text-fill: #ffffff;
 	-fx-border-color: transparent;
 	-fx-border-insets: 2.0;
 	-fx-background-color: #ff5656;
 	-fx-background-insets: 2.0;
 }
 .option{
 	-fx-min-width: 680.0px;
 	-fx-max-width: 1485.0px;
 	-fx-border-color:#c3c3c3;
 	-fx-alignment: center-right ;
 	-fx-padding: 20.0;
 }
 .option:selected{
 	-fx-border-color:#f6a23f;
 }
 .option > .box,
 .option > .radio{
	-fx-background-color: transparent;
    -fx-padding: 0.0;
 }
 .option > .box > .mark{
    -fx-background-insets: 0.0;
    -fx-shape: "M0,4 L4,8 L8,0 L3.75,7 Z";
    -fx-pref-height: 20.0px;
    -fx-pref-width: 20.0px;
 }
 
 .option > .radio > .dot {
 	-fx-background-insets: 0.0;
    -fx-shape: "M0,0 L4,8 L8,4 L4.25,7 Z";
    -fx-pref-height: 20.0px;
    -fx-pref-width: 20.0px;
 }
 .option:selected > .box > .mark,
 .option:selected > .radio > .dot {
    -fx-background-color: #f6a23f;
 }
 /*******************************************************************************
 *                                                                             *
 * 菜单样式                                                          *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: transparent;
	-fx-min-height: 40.0px;
}
.context-menu {
    -fx-color: transparent;
    -fx-background-color:#255e87;
    -fx-background-insets: 3.0 0.0;
    -fx-background-radius: 0.0;
    -fx-alignment: center ;
}
.context-menu > *>.separator {
    -fx-color: #255e87;
    -fx-padding: -1.0px;
}
.menu {
	-fx-background-color: #19b0c6;
	-fx-min-width: 108.0px;
	-fx-pref-height: 40.0px;
	-fx-cursor: hand;
}
.menu >.label {
	-fx-alignment: center ;
	-fx-text-alignment: center;
	-fx-text-fill: #ffffff;
	-fx-font-size: 14.0px;
}
.menu-item {
    -fx-background-color: #2c70a2;
    -fx-pref-width: 108.0px;
    -fx-pref-height: 40.0px;
    -fx-cursor: hand;
}
.menu-item >.label {
	-fx-pref-width: 105.0px;
	-fx-alignment: center ;
	-fx-text-alignment: center;
	-fx-text-fill: #ffffff;
	-fx-font-size: 14.0px;
}
.menu-item:hover {
    -fx-background-color: #19b0c6;
}
 /*******************************************************************************
 *                                                                             *
 * 导线选择面板                                                          *
 *                                                                             *
 ******************************************************************************/
.picker-item {
	-fx-pref-height: 40.0px;
	-fx-padding:5.0px;
}
.picker-item:hover  {
	/*-fx-border-color: rgb(48.0,118.0,165.0);*/
	-fx-background-color: #19b0c6;
	-fx-text-fill:#ffffff;
}
.picker-item-selected{
	/*-fx-border-color: rgb(48.0,118.0,165.0);*/
	-fx-background-color: #2c70a2;
	-fx-text-fill:#ffffff;
}
/*******************************************************************************
 *                                                                             *
 * 图纸面板样式                                                          *
 *                                                                             *
 ******************************************************************************/
.drawing-btn{
	-fx-min-width: 70.0px;
	-fx-min-height: 70.0px;
	-fx-max-width: 70.0px;
	-fx-max-height: 70.0px;
	-fx-background-color: transparent;
	-fx-border-color: #e4e4e4;
	-fx-padding: 0.0;
}